.security-check[b-1kc5kk0b8p] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8f9fa;
}

.security-check p[b-1kc5kk0b8p] {
    margin-top: 1rem;
    color: #6c757d;
    font-size: 1.1rem;
}

.spinner-border[b-1kc5kk0b8p] {
    width: 3rem;
    height: 3rem;
    border-width: 0.3em;
}